/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
    background-color: rgb(255, 255, 255);
    max-width: 98%;
    margin: auto;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(5, 5, 17);
}


/* Main Logo */

.mylogo {
    padding-top: 5px;
}


/* Icons and contact number */

.telicon {
    border-top: solid 1px;
    border-color: rgb(218, 214, 219);
    margin-left: 0px;
    margin-right: 0px;
}

.telno {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}

.icons {
    text-align: right;
    padding: 0;
}

.icons a {
    color: #d47ca1;
    border-radius: 50%;
}

.telno a {
    color: #d47ca1;
    font-size: 18px;
    font-weight: 500;
}


/* Navigation section */

nav.navbar {
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-nav.a.nav-link {
    padding-right: 15px;
}

.navbar-custom {
    background-color: #d47ca1;
}

.navbar-custom a {
    color: #38383a;
    font-weight: 400;
}

a:hover {
    background-color: rgb(211, 216, 216);
    border-radius: 3px;
    color: #d47ca1;
}

a.active {
    background-color: rgb(211, 216, 216);
    border-radius: 3px;
    color: #d47ca1;
}

.form-inline {
    margin-right: 5px;
}

.form-control {
    font-size: .75rem;
    height: 35px;
    background-color: #d4b2c0;
}

.breadcrumb-item a {
    color: #d468a6;
    font-size: 12px;
}

.breadcrumb-item::before {
    font-size: 12px;
}


/* Main pages */


/* HOME PAGE */

.mainimage {
    /* Royalty free picture from dreamstime.com */
    margin-left: 0px;
    margin-right: 0px;
    background-image: url('../images/Picture1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    padding-top: 25px;
    padding-bottom: 10px;
}

.content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: rgb(12, 12, 12);
}

.ir1 {
    margin-bottom: 75px;
}

.ir1c1 {
    width: auto;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    font-size: 2.3rem;
    font-weight: 700;
    color: #8b2c62;
}

.ir1c2 {
    height: 450px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ir1c2>.r1,
.ir1c2>.r2,
.ir1c2>.r3,
.ir1c2>.r4,
.ir1c2>.r5,
.ir1c2>.r6,
.ir1c2>.r7 {
    font-size: 1.2rem;
    color: #8b2c62;
    font-weight: 500;
}

.linkbutton {
    margin-right: 15px;
    margin-bottom: 10px;
    color: #38383a;
    border-color: #d4b2c0;
    background-color: #d47ca1;
}

.linkbutton:hover {
    background-color: rgb(211, 216, 216);
    border-color: #d4b2c0;
    border-radius: 3px;
    color: #d47ca1;
}


/* BOWEN THERAPY PAGE */

.tbt-r1 h6 a {
    color: #d47ca1;
    font-weight: 600;
}

.tbt-r1 p a {
    color: #d47ca1;
}

.video {
    margin-top: 10px;
    background-color: #d4b2c0;
}

.panel {
    margin-bottom: 25px;
}


/* ABOUT MARY LOU PAGE */

.testTitle {
    padding-left: 0;
}

.testTitle .red {
    color: #bb7391;
}

.amr1 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.amr1c1>.r1>.c1 {
    max-width: 230px;
}

.marylou {
    height: auto;
    width: auto;
    margin-top: 10px;
}

.amr1c1>.r1>.c2 {
    font-size: 25px;
    color: #38383a;
}

.amr1c2 .r1 .c1 {
    color: #38383a;
    font-size: x-large;
    font-weight: 600;
}

.link {
    color: #d47ca1;
}

.amr1c2 .sh {
    font-size: 14px;
    margin-bottom: 20px;
    box-shadow: -10px 12px 12px rgb(131, 111, 120);
    background-color: rgba(221, 214, 214, .75);
}

.amr1c2.sh.p {
    margin-bottom: 0px;
}

.amr1c1 .cv {
    margin-top: 5px;
    border-top: solid;
    border-color: rgb(212, 124, 161);
    border-width: 2px;
    padding-top: 5px;
    margin-right: 15px;
}

div.col.c1 {
    font-size: .8rem;
    margin-bottom: 0 !important;
}

.mb-1 p {
    margin-bottom: 0;
}


/* Events-Long Covid Page */

.longCovid {
    height: 500px;
}


/* CONTACT / BOOKING FORM PAGE */

.fieldset {
    border: 1px;
    padding: 10px;
    border-style: solid;
    border-color: #d468a6;
    margin: 5px;
}

.contactinfo {
    margin-top: 15px;
}

.form-group {
    margin-bottom: 3px;
}

legend {
    font-size: 20px;
}

.namelabel,
.email,
.mobno,
.telno,
.comment {
    font-size: 14px;
    margin-bottom: 2px;
}

.form-control.namef {
    width: 65%;
}

.form-control.emailf {
    width: 75%;
}

.form-control.mobnof {
    width: 30%;
}

.form-control.telnof {
    width: 30%;
}

.form-control.commentf {
    width: 100%;
    margin-bottom: 20px;
}

.contactformsubmit {
    background-color: #d468a6;
    border-color: #d468a6;
}

.contactformsubmit:hover {
    background-color: #75d468;
    border-color: #d468a6;
}


/* Research */

.robot,
.research {
    font-size: 14px;
    margin-right: 20px;
}

.research p {
    margin-bottom: 2px;
}

.researchb.form-group {
    margin-bottom: 20px;
    font-size: 14px;
}

@media screen and (max-width:600px) {
    div.researchb {
        float: left;
    }
}


/* Map */

div.map {
    width: 100%;
    height: 600px;
    border-style: solid;
    border-width: 5px;
    border-color: #d468a6;
    -ms-flex-line-pack: center;
    align-content: center;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* ALL PAGES */


/* Footer section */

.footer {
    border-top: solid;
    border-color: #d468a6;
    border-width: 4px;
    background-color: #fff;
}

.btotop a {
    color: #d47ca1;
}

.copyright {
    font-size: 0.7rem;
    color: #525355;
}

.copyright a {
    color: #525355;
    font-size: 1.25em;
}

.copyright p {
    margin-bottom: 5px;
}

.ydt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 0.7em;
    color: #525355;
}

.ydt p {
    margin-bottom: 5px;
}

.logos {
    margin-bottom: 20px;
}

.affiliations {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.rectimg {
    padding: 0;
    margin: 0;
}

.affiliations img {
    width: 70px;
    height: auto;
    padding: 0;
    margin: 0;
}